---
layout: default
title: Honey
---

{% include hero.html title="Honey" subtitle="Pure, natural honey from our hives" %}

<div class="row mt-4">
    <div class="col-md-8">
        <p>Honey! The reason that bee keepers put up with all the stings.</p>
        
        <p>From the hive our honey is spun out of the combs using an extractor, passed through a filter to remove any bits of wax, allowed to stand for a day to allow and air bubbles to escape and then put into jars.</p>
        
        <p>That's it. No blending, no heat treatment, just pure honey from the hive.</p>
        
        <p>Honey produced in the UK must follow the <a href="https://www.legislation.gov.uk/uksi/2015/1348/made">Honey regulations 2015</a> and every jar should be labelled with a batch number and a best before date. </p>
        
        <p>In a good year I try to get two harvests, a small one at the late May bank holiday and the main harvest at the August bank holiday, so those are the best times if you're looking for honey.</p>

        {% include contact-us.html %}
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <a href="{{ '/assets/images/honey-frame.jpeg' | relative_url }}">
                <img src="{{ '/assets/images/honey-frame-1024.jpeg' | relative_url }}" class="card-img-top" alt="Honey Frame">
            </a>
            <div class="card-body">
                <h5 class="card-title">Honey Frame</h5>
                <p class="card-text">A frame of capped honey ready for extraction - June 2023</p>
            </div>
        </div>
    </div>
</div> 