---
layout: default
title: Swarms
---

{% include hero.html title="Swarms" subtitle="What to do if you find a swarm of honey bees" %}

<div class="row mt-4">
    <div class="col-md-8">
        <p>If you've found a swarm of honey bees, don't panic! Swarms are a natural part of the honey bee lifecycle and are generally not aggressive when they're swarming.</p>
        
        <p>When a honey bee colony becomes too large, the queen and a portion of the worker bees will leave the hive to form a new colony. This is called swarming. The swarm will typically cluster on a tree branch, fence, or other structure while scout bees search for a new home.</p>
        
        <p><strong>Not sure if what you've found is a honey bee swarm?</strong> Check the <a href="https://www.bbka.org.uk/identification">BBKA bee identification guide</a> to confirm what type of bees you have.</p>
        
        <p>If you've found a swarm of honey bees, your local beekeeping association can help. They have experienced beekeepers who can safely collect the swarm and relocate it to a new hive.</p>
        
        <p>To find your local beekeeping association, visit the <a href="https://www.bbka.org.uk/find-a-local-branch">British Beekeepers Association website</a>. You can also use the <a href="https://www.bbka.org.uk/find-a-local-swarm-collector">BBKA swarm collector map</a> to find a beekeeper near you who can help with a swarm.</p>
        
        <p>For swarms in the Leeds area, you can contact the <a href="https://www.leedsbeekeepers.org.uk/contact-us/">Leeds Beekeepers Association</a> or visit their <a href="https://www.leedsbeekeepers.org.uk/swarms">swarm coordinator page</a> for more information.</p>
        
        {% include contact-us.html %}
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <a href="{{ '/assets/images/swarm.jpeg' | relative_url }}">
                <img src="{{ '/assets/images/swarm-1024.jpeg' | relative_url }}" class="card-img-top" alt="Honey Bee Swarm">
            </a>
            <div class="card-body">
                <h5 class="card-title">Honey Bee Swarm</h5>
                <p class="card-text">A swarm of honey bees clustered in a hedge.</p>
            </div>
        </div>
    </div>
</div> 