<div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="card-title">Contact Us</h3>
                <p class="card-text">For inquiries about our honey or beekeeping, please message us via Facebook.</p>
                <a href="https://www.facebook.com/profile.php?id=100093598976055" class="btn btn-primary">
                    <i class="fab fa-facebook"></i> Message on Facebook
                </a>
            </div>
        </div>
    </div>
</div> 