<!-- Not currently used - saving snippet in case needed later -->

<div class="border m-2 float-sm-start">

    {% assign hiveArray = include.configuration | split: "," | reverse %}
    {% for item in hiveArray %}
        <div class="border text-center px-1">
            {% if item == "D" %}<div class="py-2">Deep</div>
            {% elsif item == "S" %}<div class="py-1">Super</div>
            {% elsif item == "QE" %}<div class="py-1">Queen Excluder</div>
            {% else %}"{{ item }}"
            {% endif %}
        </div>
    {% endfor %}

</div>