---
layout: default
---

{% capture hero_title %}
{{ page.date | date_to_string: "ordinal", "GB" }}
{% endcapture %}

{% capture hero_subtitle %}
Blog - {{ page.title }}
{% endcapture %}

{% include hero.html title=hero_title subtitle=hero_subtitle %}

<div class="row my-4">
    <div class="col-md-6 text-start">
         {% if page.previous.url %}
            <a href="{{page.previous.url}}" class="btn btn-outline-primary">&laquo; {{page.previous.title}}</a>
          {% endif %}
    </div>
    <div class="col-md-6 text-end">
          {% if page.next.url %}
            <a href="{{page.next.url}}" class="btn btn-outline-primary">{{page.next.title}} &raquo;</a>
          {% endif %}
    </div>    
</div>

{{ content }}